{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option spad set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Our Sevices</h2>
                        <div class="breadcrumb__links">
                            <a href="{% url 'home' %}">Home</a>
                            <span>Services</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Services Section Begin -->
    <section class="services-page spad">
        <div class="container">
            <div class="row">
                {% for i in service %}
                <div class="col-lg-4 col-md-6 col-sm-6">

                    <div class="services__item">
                        <div class="services__item__icon">
                            <img src="{{ i.icon.url }}" alt="">
                        </div>
                        <h4>{{ i.name }}</h4>
                        <p>{{ i.body }}</p>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Call To Action Section Begin -->
<section class="callto spad set-bg" data-setbg="{% static 'img/home.webp' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="callto__text">
                    <h2>New Projects, Developer who gives wings to your projects</h2>
                    <p>Best places to work 2019</p>
                    <a href="{% url 'contact' %}">Start your project</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call To Action Section End -->

    <!-- Logo Begin -->
    <div class="logo spad">

        <div class="container">

            <div class="logo__carousel owl-carousel">

                {% for i in sponsor %}
                <a href="{{i.url}}" class="logo__item"><img src="{{ i.logo.url }}" alt=""></a>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Logo End -->

{% endblock content %}